<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xmomen.module.test.mapper.UserMapper" >

    <sql id="Base_Columns">
        ID,
        USERNAME,
        NICKNAME,
        SALT,
        PASSWORD,
        EMAIL,
        PHONE_NUMBER,
        AVATAR,
        DISABLE,
        CREATED_TIME,
        LAST_LOGIN_TIME
    </sql>

    <sql id="Base_Properties">
        #{id, jdbcType=VARCHAR},
        #{username, jdbcType=VARCHAR},
        #{nickname, jdbcType=VARCHAR},
        #{salt, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{phoneNumber, jdbcType=VARCHAR},
        #{avatar, jdbcType=VARCHAR},
        #{disable, jdbcType=VARCHAR},
        #{createdTime, jdbcType=TIMESTAMP},
        #{lastLoginTime, jdbcType=TIMESTAMP}
    </sql>

    <insert id="insertBatch" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ${prefix}user
        (
        <include refid="Base_Columns" />
        )
        VALUES
        <foreach collection="list" item="item" open="(" separator="," close=")">
            <include refid="Base_Properties" />
        </foreach>
    </insert>

</mapper>